<meta charset="UTF-8">
<title>Homework from Ruby on Rails course</title>
<meta charset="utf-8">
<%= stylesheet_link_tag 'styleabout.css' %>


<div class="center jumbotron">
	<h1>ABOUT</h1><br>
	<p>This is the about page, enjoy!:</p>
</div>
