<meta charset="UTF-8">
<title>Homework from Ruby on Rails course</title>
<%= stylesheet_link_tag 'stylehome.css' %>


<div class="center jumbotron">
	<h1>ALPHA BLOG</h1><br>
	<%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
	<%= link_to "Log in", login_path, class: "btn btn-success btn-lg btn-xlarge" %>
</div>
