body{
	width: 100%;
	background-color: #dcdcdc;
	font-family: sans-serif;
	height: auto;
}
h1{
	
}
a{
	text-decoration: none;
	color: blue;
}
a:hover {
		color: #4bc4ce;
}
.photo{
	height: auto;
	top:15px;
	padding: 1px 
}
.mid{
	align-items: center;
	text-align: center;
}
.link{
	position: relative;
	top: 20px;
	text-decoration: none;
	color: blue;
}
.link:hover{
	color: hotpink;
}