body{
	color: #3b3b3b;
	width: 100%;
	background-color: #dcdcdc;
	font-family: sans-serif;
	height: auto;
}
h1{
	
}
footer{
	position: relative;
	left: 0;
		bottom: 0;
		width: 100%;
		font-family: Times-new-Roman
}
footer > p{
	margin: 0 0 0 30px;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover {
		color: #4bc4ce;
}
.photo{
	height: auto;
	top:15px;
	padding: 1px 
}
.mid{
	align-items: center;
	text-align: center;
}
.link{
	position: relative;
	top: 20px;
	text-decoration: none;
	color: blue;
}
.link:hover{
	color: hotpink;
}