<div class="container">
	<footer class="footer">
		<small>
			<p>Posted by: Mauricio P.</p>
			<p>Contact: <a href="https://www.facebook.com/Mauricio.Storin?ref=bookmarks" target="blank">Facebook</a>, <a href="https://www.instagram.com/mauricio_ps/" target="blank">Instagram</a>.</p>
			Copyright &copy <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course" target="blank">The Complete Ruby on Rails Developer</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>